.ltx_para > .ltx_p:first-child {
	text-indent: 0em;
}

html {
	background: #E0E0E0;
}

body {
	font-family: sans-serif;
	font-size: 11pt;
	width: 483pt;
	margin: 20pt auto 20pt auto;
	line-height: 1.5;
	background: white;
	border: 1px solid black;
}

.ltx_title_document {
	font-size: 20pt;
	font-weight: bold;
}

.ltx_tag {
	display: none;
}

.ltx_authors {
	text-align: left;
}

.ltx_authors .ltx_personname {
	font-size: 18pt;
	font-weight: bold;
}

a, a:link, a:hover, a:active, a:visited {
	color: rgb(61,133,156);
}

p {
	margin-top: 0;
	margin-bottom: 3pt;
}

h2 {
	font-size: 13pt;
	margin-top: 16pt;
	margin-bottom: 10pt;
}

h3 {
	font-size: 13pt;
	font-style: italic;
	margin-top: 11pt;
	margin-bottom: 4pt;
}

h4 {
	font-size: 11pt;
	font-style: italic;
	font-weight: 100;
	margin-top: 0;
	margin-bottom: 3pt;
}
